{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <p>Сортировать по: &nbsp;&nbsp;&nbsp;&nbsp;<a href="/catalog?sort=name">названию</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/catalog?sort=min_price">начиная с дешевых</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/catalog?sort=max_price">начиная с дорогих</a></p>
        </div>

        <div class="content">
            {% for phone in phones %}
            <div class="item">
                <h2><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h2>
                <p class="price">Стоимость: {{ phone.price|floatformat:0 }}p.</p>
                <img src="{{ phone.image }}">
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}