{% extends "base.html" %}
{% load static %}

{% block title %}{{ phone.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>{{ phone.name }}</h1>
        </div>
        <div class="content">
            <h6>Стоимость: {{ phone.price|floatformat:0 }}р.</h6>
            <img src="{{ phone.image }}">
            <p>Дата выхода: {{ phone.release_date }}</p>
            <p>Наличие LTE: {% if phone.lte_exists %}Есть{% else %}Нет{% endif %}</p>
        </div>
    </div>
{% endblock %}